@media (max-width: 1199px) {
    .navbar-expand-lg .navbar-nav {
        align-items: center;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0;
        font-size: 0.875rem;
    }

    .booking-area {
        padding: 3rem 0.625rem;
        text-align: center;
    }

    .booking-area .main-btn {
        padding-left: 0.3125rem !important;
        padding-right: 0.3125rem !important;
    }
    .room-item .room-content{
        padding: 1rem 1.875rem;
        
    }
    .room-item .room-content h5 {
    font-size: 1.5rem;
    }
    .room-item .room-content p{ 
        font-size: 0.75rem;
    }
.service-item-wrap .tab-content img{
    width: 100%;
}
.service-menu-area ul li a{
    margin-bottom: -4.4735rem;
overflow: hidden;
}
.service-menu-area ul li:nth-child(1){
    margin-left: -4.4735rem;
}
.service-menu-area ul li:nth-child(2){
    margin-left: -6.735rem;
}
.service-menu-area ul li:nth-child(3){
    margin-left: -9.375rem;
}
.service-menu-area ul li:nth-child(4){
    margin-left: -12.825rem;
}
.service-menu-area ul li a h5{
    margin-bottom: 3.75rem;
}
}


@media (max-width: 968px) {
    Section {
        padding: 1.875rem 0;
    }

    .header-scrolled {
        height: auto;
    }

    .header-wrapper .menu-navbar-nav {
        text-align: center;
        padding-bottom: 0.9375rem;
    }

    .header-wrapper .nav-item .nav-link {
        margin-top: 0.9375rem;
    }

    .header-wrapper .nav-item .main-btn {
        margin-top: 0.9375rem;
    }

    .banner-wrapper {
        height: 25.625rem;
    }

    .booking-area {
        padding: 3.125rem 1.875rem;
        text-align: center;
    }
    .about-wrapper{
        padding-top: 22.75rem;
    }
    .room-item .room-content{
        padding: 2rem 1.875rem;
    }
    .room-item .room-content h5 {
    font-size: 1.75rem;
    }
    .room-item .room-content p{ 
        font-size: 0.75rem;
    }
    .service-menu-area{padding: 1.5rem 0 0.5rem; 
    }
    .service-menu-area ul li{
        margin-left: unset !important;
    }
}



@media (max-width: 767px) {
    h1 {
        font-size: 1.875rem;
        line-height: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
        line-height: 2.1rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
    .blog-wrapper .blog-content{
        margin: 0;
    }
    .copyright{
        text-align: center;
    }
    .footer-wrapper > div{
padding: 0 3.125rem;
    }
}