@media (max-width: 1199px) {
  .navbar-expand-lg .navbar-nav {
    align-items: center;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    font-size: 0.875rem;
  }
}

@media (max-width: 991px) {
  Section {
    padding: 1.875rem 0;
  }
  .header-scrolled {
    height: auto;
  }
  .header-wrapper .menu-navbar-nav {
    text-align: center;
    padding-bottom: 0.9375rem;
  }
  .header-wrapper .nav-item .nav-link {
    margin-top: 0.9375rem;
  }
  .header-wrapper .nav-item .main-btn{
    margin-top: 0.9375rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
    line-height: 2.1rem;
  }
  h5{
    font-size: 1.2rem;
}
p{
    font-size: 0.875rem;
line-height: 1.5rem;
}
}
